button:hover {
  background-color: #2bd1fc;
}

button:focus {
  outline: none;
}

button:active {
  background-color: #bce8f3;
}

.isPlaying {
  display: inline-block;
  width: 65px;
  height: 65px;
  text-align: center;
  border: solid black;
  margin-bottom: 15px;
  font-family: monospace;
  font-size: 10px;
  background: radial-gradient(
      circle at 50% 0,
      rgba(255, 72, 196, 0.5),
      rgba(255, 0, 0, 0) 70.71%
    ),
    radial-gradient(
      circle at 6.7% 75%,
      rgba(43, 209, 252, 0.5),
      rgba(0, 0, 255, 0) 70.71%
    ),
    radial-gradient(
        circle at 93.3% 75%,
        rgba(243, 234, 95, 0.5),
        rgba(0, 255, 0, 0) 70.71%
      )
      beige;
  cursor: default;
}

.main-switch-frame {
  width: 60%;
  padding: 15px;
  margin: 0 auto;
  display: flex;
}

.switch-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.switch-container {
  display: inline-block;
  width: 65px;
  height: 65px;
  text-align: center;
  background-color: white;
  border: solid black;
  margin-bottom: 15px;
  box-shadow: 5px 5px 8px #ff48c4, 10px 10px 8px #2bd1fc, 15px 15px 8px #f3ea5f,
    20px 20px 8px #c04df9;
  font-family: monospace;
  font-kerning: normal;
  font-weight: lighter;
  font-size: 10px;
  cursor: default;
}

h4 {
  margin: 10px auto 0;
  color: #ff48c4;
  font-size: 0.7rem;
  cursor: default;
}

body {
  background-color: #f3ea5f;
}

h1 {
  text-align: center;
  width: 100%;
  font-family: 'Candal', sans-serif;
  font-style: italic;
  color: #2bd1fc;
  text-shadow: -5px 10px 0px #ff48c4;
  font-size: 50px;
  margin-bottom: 0;
  letter-spacing: 0.1rem;
}

.chord-text {
  font-size: 20px;
  margin: 0;
  letter-spacing: 0.1rem;
  font-family: Candal, sans-serif;
  text-shadow: -2px 2px 0px #2bd1fc;
  color: #ff48c4;
}

.synth-option-head {
  font-size: 20px;
  margin: 0;
  letter-spacing: 0.1rem;
  font-family: Candal, sans-serif;
  text-shadow: -2px 2px 0px #2bd1fc;
  color: #ff48c4;
}

.synth-header {
  font-family: 'Candal', sans-serif;
  color: #ff48c4;
  text-shadow: -2px 2px 0px #2bd1fc;
  font-style: italic;
  letter-spacing: 0.1rem;
}

#player-container {
  height: 56px;
  width: 70%;
  margin: 0 auto 100px;
}

#player-controls {
  background-color: #c04df9;
  box-shadow: 5px 5px 8px #ff48c4;
  height: 100%;
}

#player-controls > div {
  height: 100%;
  align-items: center;
}

#player-controls i {
  font-size: 2em;
  padding: 0 10px;
}

#player-controls i:nth-child(2) {
  font-size: 3em;
}

i {
  color: #2bd1fc;
  font-size: 2em;
}

i.fa {
  cursor: pointer;
  font-size: 2em;
  transition: color 0.2s ease;
}

i.fa:hover {
  color: #ff3f3f;
}

.row {
  display: flex;
  flex-direction: row;
}

.center {
  justify-content: center;
}

.rythm-player {
  font-family: 'Mr Dafoe', cursive;
  font-size: 45px;
  margin: 20px 30px -15px -30px;
  color: #eb219b;
  -webkit-text-fill-color: rgba(253, 90, 250, 1);
  text-shadow: -2px -2px 0 #ffbaf2;
  -webkit-filter: drop-shadow(3px 3px 1px #441f62);
  -webkit-transform: skew(-5deg, -5deg);
  font-weight: normal;
  z-index: 2;
}

.rythm-maker {
  height: 265px;
  width: 70%;
  margin: 100px auto 0;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #c04df9;
  box-shadow: 5px 5px 8px #ff48c4;
}

.snare-container {
  text-align: center;
  margin-top: 15px;
  display: flex;
}

.kick-container {
  text-align: center;
  margin-top: 30px;
  display: flex;
}

.hat-container {
  text-align: center;
  margin-top: 15px;
  display: flex;
}

.crash-container {
  text-align: center;
  margin-top: 15px;
  display: flex;
}

.rythm-maker-header {
  font-family: 'Mr Dafoe', cursive;
  position: absolute;
  left: -310px;
  top: -30px;
  z-index: 100;
  font-size: 45px;
  margin: 0;
  color: #eb219b;
  -webkit-text-fill-color: rgba(253, 90, 250, 1);
  text-shadow: -2px -2px 0 #ffbaf2;
  -webkit-filter: drop-shadow(3px 3px 1px #441f62);
  -webkit-transform: skew(-5deg, -5deg);
  font-weight: normal;
}

.rythm-button {
  position: absolute;
  top: 140px;
  right: 165px;
  font-size: 20px;
  font-family: 'Major Mono Display', monospace;
  height: 40px;
  color: white;
  background-color: rgb(255, 186, 242, 0.9);
  z-index: 1000;
}

.check-container input {
  opacity: 0;
  width: 0;
  height: 0;
}

.check-container {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 30px;
}

.drum-checkbox {
  background-color: rgb(255, 186, 242, 0.6);
  position: absolute;
  cursor: pointer;
  border: 1px solid gray;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 2px;
}

.drum-checkbox-clicked {
  background-color: #f3ea5f;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 2px;
}

.check-container input:check .drum-checkbox {
  background-color: #ff3f3f;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 2px;
}

.drum-tag {
  font-family: monospace;
  letter-spacing: 0.1rem;
  width: 60px;
  margin: 0 15px 0 25px;
  color: #f3ea5f;
}

.change-key-container {
  width: 100px;
  height: 100px;
  border: none;
  position: fixed;
  left: 50px;
  top: 300px;
  z-index: 10;
  text-align: center;
}

.change-synth-container {
  width: 100px;
  border: none;
  position: fixed;
  right: 75px;
  top: 275px;
  z-index: 3000;
  text-align: center;
}

.synth-option {
  margin: 10px 0;
  font-family: monospace;
  font-size: 1rem;
  cursor: default;
  background-color: rgb(255, 186, 242, 0.9);
  box-shadow: 2px 2px 6px #2bd1fc;
}

i.fas {
  cursor: pointer;
  font-size: 4em;
  transition: color 0.2s ease;
  margin: 0;
}

i.fas:hover {
  color: #ff3f3f;
}

.time-button-container {
  display: flex;
  margin: 20px 0 0 595px;
}

.time-count-button {
  font-size: 1rem;
  padding: 5px;
  height: 25px;
  margin: 0 0 0 25px;
  background-color: rgb(243, 234, 95);
  box-shadow: 5px 5px 8px #2bd1fc;
  font-family: monospace;
}

.bpm-label {
  font-family: monospace;
  margin: 5px 10px 0 0;
}

.bpm-input {
  background-color: rgb(243, 234, 95);
  margin: 0;
  font-family: monospace;
  box-shadow: 5px 5px 8px #2bd1fc;
  width: 35px;
}

.loader {
  color: #aaaaaa;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

@media (max-width: 500px) {
  .switch-container {
    width: 40px;
    height: 40px;
    font-size: 10px;
  }

  .isPlaying {
    width: 40px;
    height: 40px;
    font-size: 10px;
  }

  #player-container {
    margin: 0 auto;
    width: 75%;
  }

  h1 {
    font-size: 35px;
    margin-bottom: 15px;
  }

  h4 {
    margin: 15px auto;
    color: #ff48c4;
    font-size: 0.5rem;
  }

  .rythm-player {
    font-size: 25px;
    margin: 0px 20px -15px -30px;
  }

  .synth-header {
    margin-top: 40px;
  }

  .main-switch-frame {
    padding: 15px;
    top: 55px;
    width: 60%;
  }

  .rythm-button {
    position: absolute;
    top: 110px;
    width: 50px;
    right: 20px;
    font-size: 0.3rem;
    font-family: 'Major Mono Display', monospace;
    height: 45px;
    color: white;
    background-color: rgb(255, 186, 242, 0.9);
    z-index: 1000;
  }

  .rythm-maker-header {
    left: -50px;
    top: 5px;
    font-size: 25px;
  }

  .drum-tag {
    font-family: monospace;
    letter-spacing: 0.1rem;
    width: 60px;
    margin: 0 0 0 10px;
    color: #f3ea5f;
    font-size: 0.75rem;
  }

  .drum-checkbox {
    background-color: rgb(255, 186, 242, 0.6);
    position: absolute;
    cursor: pointer;
    border: 1px solid gray;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 2px;
  }

  .drum-checkbox-clicked {
    background-color: #f3ea5f;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 2px;
  }

  .snare-container {
    text-align: center;
    margin-top: 20px;
    display: flex;
  }

  .kick-container {
    text-align: center;
    margin-top: 20px;
    display: flex;
  }

  .hat-container {
    text-align: center;
    margin-top: 20px;
    display: flex;
  }

  .crash-container {
    text-align: center;
    margin-top: 20px;
    display: flex;
  }

  .check-container {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0px 3px;
  }

  .rythm-maker {
    height: 200px;
  }

  .change-key-container {
    width: 45px;
    height: 45px;
    left: 5px;
    top: 220px;
  }

  .change-synth-container {
    width: 45px;
    border: none;
    position: fixed;
    left: 10px;
    top: 330px;
    z-index: 3000;
  }

  .chord-text {
    font-size: 15px;
  }

  .synth-option-head {
    font-size: 10px;
    letter-spacing: 0rem;
  }

  i.fas {
    font-size: 2em;
  }

  .synth-option {
    margin: 5px 0;
    padding: 2px;
    font-size: 0.5rem;
    box-shadow: 0.5px 0.5px 2px #2bd1fc;
  }

  .time-button-container {
    display: flex;
    margin: 25px 0 0 25px;
  }

  .rythm-maker-header {
    font-family: 'Mr Dafoe', cursive;
    position: absolute;
    left: -55px;
    top: -20px;
    z-index: 100;
    font-size: 25px;
    margin: 0;
    color: #eb219b;
    -webkit-text-fill-color: rgba(253, 90, 250, 1);
    text-shadow: -2px -2px 0 #ffbaf2;
    -webkit-filter: drop-shadow(3px 3px 1px #441f62);
    -webkit-transform: skew(-5deg, -5deg);
    font-weight: normal;
  }

  .bpm-label {
    font-family: monospace;
    font-size: 0.6rem;
  }

  .bpm-input {
    font-family: monospace;
    font-size: 0.6rem;
    box-shadow: 2px 2px 4px #2bd1fc;
  }

  .time-count-button {
    font-size: 0.6rem;
    padding: 2px;
    height: 15px;
    margin: 0 0 0 15px;
    font-family: monospace;
    box-shadow: 2px 2px 4px #2bd1fc;
  }
}
